@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Bike Shop</h1>
        <p>Solid Frames and durable wheels. Custom made bikes to fit your needs down to the angle of the head tube.</p>
        <p> Please use the navigation menu above to achieve your goals.</p>
        <p> Customers, please click the button below to fill out an order form</p>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Create">Order Now!</a>
        </li>
    </div>
