@model Bikeshop_Project.Models.PurchaseItem

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>PurchaseItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PURCHASEID" class="control-label"></label>
                <input asp-for="PURCHASEID" class="form-control" />
                <span asp-validation-for="PURCHASEID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="COMPONENTID" class="control-label"></label>
                <input asp-for="COMPONENTID" class="form-control" />
                <span asp-validation-for="COMPONENTID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PRICEPAID" class="control-label"></label>
                <input asp-for="PRICEPAID" class="form-control" />
                <span asp-validation-for="PRICEPAID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QUANTITY" class="control-label"></label>
                <input asp-for="QUANTITY" class="form-control" />
                <span asp-validation-for="QUANTITY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QUANTITYRECEIVED" class="control-label"></label>
                <input asp-for="QUANTITYRECEIVED" class="form-control" />
                <span asp-validation-for="QUANTITYRECEIVED" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

