@{
    ViewData["Title"] = "Index";
}

    <div class="text-center">
        <h1 class="display-4">Site Support</h1>
        <p>Thank you so much for being a valued customer of Bike Shop Database!
        <br>We're dedicated to providing you the highest quality experience through our website interface.
        <br>Should you have any issues complaints or concerns feel free to report them to <a href="mailto:BikeShopSupport@gmail.com">BikeShopSupport@gmail.com</a>.
        <br>And again thank you for your business!</p>
        
        <div class="text-left">
            <P>Sincerely,
            <br>Bike Shop Suport Team</p>
        </div>
    </div>


