@model Bikeshop_Project.Models.Order

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderID" class="control-label"></label>
                <input asp-for="OrderID" class="form-control" />
                <span asp-validation-for="OrderID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bike_quantity" class="control-label"></label>
                <input asp-for="bike_quantity" class="form-control" />
                <span asp-validation-for="bike_quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bike_price" class="control-label"></label>
                <input asp-for="bike_price" class="form-control" />
                <span asp-validation-for="bike_price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="component_quantity" class="control-label"></label>
                <input asp-for="component_quantity" class="form-control" />
                <span asp-validation-for="component_quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="component_price" class="control-label"></label>
                <input asp-for="component_price" class="form-control" />
                <span asp-validation-for="component_price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

