@model Bikeshop_Project.Models.CustomOrderViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <label for="paint">Choose a paint color:</label>

            <select id="paint" name="paint">

                @foreach (Paint paint in Model.Paints)
                {

                    <option value=@paint.PAINTID>@paint.COLORNAME</option>

                }

            </select>

            <label for="letterstyle">Choose a letter style:</label>

            <select id="letterstyle" name="letterstyle">

                @foreach (LetterStyle style in Model.LetterStyles)
                {
                    
                    <option value=@style.LETTERSTYLE>@style.LETTERSTYLE</option>


                }

            </select>


            <label for="modeltype">Choose a model type:</label>

            <select id="modeltype" name="modeltype">


                @foreach (ModelType modeltype in Model.ModelTypes)
                {

                <option value=@modeltype.MODELTYPE>@modeltype.MODELTYPE</option>



                }

            </select>

                <div class="form-group">
                    <label asp-for="spare_kits_quantity" class="control-label"></label>
                    <input asp-for="spare_kits_quantity" class="form-control" />
                    <span asp-validation-for="spare_kits_quantity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
        </form>
    </div>
</div>

