@model Bikeshop_Project.Models.PurchaseOrder

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>PurchaseOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PURCHASEID" class="control-label"></label>
                <input asp-for="PURCHASEID" class="form-control" />
                <span asp-validation-for="PURCHASEID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EMPLOYEEID" class="control-label"></label>
                <input asp-for="EMPLOYEEID" class="form-control" />
                <span asp-validation-for="EMPLOYEEID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MANUFACTURERID" class="control-label"></label>
                <input asp-for="MANUFACTURERID" class="form-control" />
                <span asp-validation-for="MANUFACTURERID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TOTALLIST" class="control-label"></label>
                <input asp-for="TOTALLIST" class="form-control" />
                <span asp-validation-for="TOTALLIST" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SHIPPINGCOST" class="control-label"></label>
                <input asp-for="SHIPPINGCOST" class="form-control" />
                <span asp-validation-for="SHIPPINGCOST" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DISCOUNT" class="control-label"></label>
                <input asp-for="DISCOUNT" class="form-control" />
                <span asp-validation-for="DISCOUNT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ORDERDATE" class="control-label"></label>
                <input asp-for="ORDERDATE" class="form-control" />
                <span asp-validation-for="ORDERDATE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RECEIVEDATE" class="control-label"></label>
                <input asp-for="RECEIVEDATE" class="form-control" />
                <span asp-validation-for="RECEIVEDATE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AMOUNTDUE" class="control-label"></label>
                <input asp-for="AMOUNTDUE" class="form-control" />
                <span asp-validation-for="AMOUNTDUE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

