@model Bikeshop_Project.Models.Customer

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CUSTOMERID" class="control-label"></label>
                <input asp-for="CUSTOMERID" class="form-control" />
                <span asp-validation-for="CUSTOMERID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PHONE" class="control-label"></label>
                <input asp-for="PHONE" class="form-control" />
                <span asp-validation-for="PHONE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FIRSTNAME" class="control-label"></label>
                <input asp-for="FIRSTNAME" class="form-control" />
                <span asp-validation-for="FIRSTNAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LASTNAME" class="control-label"></label>
                <input asp-for="LASTNAME" class="form-control" />
                <span asp-validation-for="LASTNAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ADDRESS" class="control-label"></label>
                <input asp-for="ADDRESS" class="form-control" />
                <span asp-validation-for="ADDRESS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZIPCODE" class="control-label"></label>
                <input asp-for="ZIPCODE" class="form-control" />
                <span asp-validation-for="ZIPCODE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CITYID" class="control-label"></label>
                <input asp-for="CITYID" class="form-control" />
                <span asp-validation-for="CITYID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BALANCEDUE" class="control-label"></label>
                <input asp-for="BALANCEDUE" class="form-control" />
                <span asp-validation-for="BALANCEDUE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

