@{
    ViewData["Title"] = "Index";
    
    // if a user is logged in, update logging information for monitoring team metrics
    if (Logger.returnUserLogInStatus())
    {
        Logger.numberofPageViews++;         // Add number of page views for general user session
        Logger.LogPageClick("About Us");    // send log to monitoring team to show a new page click has occured.    
    }
}

    <div class="text-center">
        <h1 class="display-4">About Us</h1>
        <div class="text-left">
            <br><p>
                Welcome to the Bike Shop Database - Your #1 source for all things bike. We're dedicated to providing you the very best cycles on the market with an emphasis on quality, style, and durability. Founded in 2020 by Database Team C, the Bike Shop database has come a long way from its start in Johnson City, TN. If you have any questions or comments, please feel free to reach out to us. This is a test of our automated pipeline.
            </p>
            <p>Happy Cycling,
            <br>The Bike Shop Team</p>
        </div>
    </div>


