@{
    ViewData["Title"] = "Index";
}

    <div class="text-center">
        <h1 class="display-4">About Us</h1>
        <p>Welcome to Bike Shop Database, your number one source for all things bike.
        <br>We're dedicated to providing you the very best cycles on the market, with an emphasis on quality, style, durability.
        <br>Founded in 2020 by Database Team 2, Bike Shop Database has come a long way from its beginnings in Johnson City TN.
       
        <br><br>We hope you enjoy our products as much as we enjoy offering them to you.
        <br>If you have any questions or comments, please don't hesitate to contact us.</p>
        
        <div class="text-left">
            <P>Sincerely,
            <br>Bike Shop Human Resources</p>
        </div>
    </div>


