@model Bikeshop_Project.Models.BikeTubes

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>BikeTubes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="SERIALNUMBER" class="control-label"></label>
                <input asp-for="SERIALNUMBER" class="form-control" />
                <span asp-validation-for="SERIALNUMBER" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TUBENAME" class="control-label"></label>
                <input asp-for="TUBENAME" class="form-control" />
                <span asp-validation-for="TUBENAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TUBEID" class="control-label"></label>
                <input asp-for="TUBEID" class="form-control" />
                <span asp-validation-for="TUBEID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LENGTH" class="control-label"></label>
                <input asp-for="LENGTH" class="form-control" />
                <span asp-validation-for="LENGTH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

